<div [hidden]="!inicio" style="width: 550px;" class="container text-center">
  <h1>Bienvenido a MusicSurveys!</h1>

  <form #emailForm="ngForm">
    <div class="mb-3">

      <p>Ingrese su email y haga click en Iniciar Encuesta</p>
      <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" required email #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        El Formato del Email es Invalido
      </div>
    </div>
  </form>

  <button type="button" (click)="onSubmit()" class="btn btn-primary" [disabled]="!emailForm.form.valid">Iniciar Encuesta</button>
</div>

<div [hidden]="inicio" class="container p-5">
  <div class="row">
    <div class="col-sm-8 offset-2">
      <div *ngIf="currentSurvey < 4">
        <p class="text-center">{{currentSurvey +1 }} de {{surveys.length}}</p>
        <h1> {{surveys[currentSurvey].question}} </h1>

        <ul class="list-group" *ngFor="let survey of surveys[currentSurvey].answer">
          <label>
            <li class="list-group-item">
              <input type="radio" name="options" (change)="onAnswer(survey.option)" [disabled]="answerSelected">
              {{survey.option}}</li>
            </label>
          </ul>
        </div>

        <div *ngIf="currentSurvey > 3">

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="finishSurvey()">
            Finalizar Encuesta
          </button>

        </div>
        <div *ngIf="result">

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Has finalizado la encuesta!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Muchas gracias por tu tiempo! Enviaremos un correo a tu email registrado con las respuestas :)
        </div>
        <div class="modal-footer">
          <button type="button" (click)="finishSurvey()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
